@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1152px;
    margin: auto;
}
.menu{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.web-designer{
    color: #FF4C60;
}
.btn-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}
.btn-box2
.broder{
    width: 106px;
    border: 1px solid black;
    margin-left: 10px;
}
.broder2{
    width: 106px;
    border: 1px solid red;
    margin-left: 10px;
    
}
.btn{
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-weight: bold;
}
.hero-img{
    text-align: end;
}
.hero-img img{
    width: 80%;
}
.newsletter{
    display: flex;
    justify-content: space-between;
    background-color: #F9F3F5;
    padding: 20px;
    align-items: center;
    margin-top: 50px;
    
}
.news-text{
    text-align: center;

}
.news-text h2{
    font-weight: bold;
}
.news-text p{
    color: #C4C4C4;
}
.news-box{
    background-color: white;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}
.news-box input{
    height: 40px;
    width: 300px;
    border: none;
}
.news-box input:focus{
    outline: none;
}
.sub-btn{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
.btn2{
    background-color: transparent;
    border: none;
}
.skill{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.skill-point{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    
}
.skill-text{
    margin-left: 50px;
}
.btn-box2{
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-top: 20px;
}
.red{
    color: #FF4C60;
}
.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.option-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 54px;
    row-gap: 33px;
}
.single-option{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.client{
    display: flex;
    justify-content: space-between;
    background-color:  #F9F3F5;
    padding: 20px 50px;
    
    margin-top: 50px;
}
.client-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    
}
.client-text{
    text-align: center;
}
.client-text p{
    color: #C4C4C4;
}
.skill1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    
}
.skill-text1{
    margin-left: 50px;


}
.pora{
    color: #C4C4C4;
    margin-top: 20px;

}
.client-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    text-align: center;

}
.name{
    color: #000;
    text-decoration: none;
    font-weight: bold;
    
}
.image-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    margin-top: 50px;
}
.caption{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-bottom: 20px;
}
.img-btn-box{
    display: flex;
    align-items: center;
    margin-right: 175px;
}
.img-grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.img3{
    margin-top: 60px;
}
.img-btn{
    background-color: #F9F3F5;
    border: none;
    padding: 15px 20px;
    margin-bottom: 10px;
}
.contact{
    display: flex;
    align-items: center;
    background-color: #F9F3F5;
    padding: 30px ;
}
.contact-icon-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
  
   background-color: #F9F3F5;

}
.red-box{
    background-color: #FF4C60 ;
    height: 70px;
    width: 70px;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mail-icon, .call-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.contact-text{
    width: 70%;
}
.contact-input{
    width: 100%;
    margin-bottom: 20px;
    height: 35px; 
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    padding: 5px;
}
.col{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
}
.contact-textarea{
    width: 100%;
    margin-bottom: 20px;
    
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 3px;
    padding: 5px;

}
.contact-btn button{
    background-color: #FF4C60;
    padding: 10px 30px;
    color: white;
   border: 3px solid transparent;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
}
.contact-btn{
    text-align: center;
    

}
.copy-right{
    text-align: center;
    margin-top: 30px;
}
.contact-from{
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    padding: 30px;
}
.contact-from h3{
    text-align: center;
   margin-bottom: 20px;

}
.contact-text p{
    font-weight: bolder;
}
.mobile-captipa{
    display: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container{
        width: 100%;
    }
    .hero{
        flex-direction: column;
    }
    .newsletter{
        flex-direction: column ;
        margin-top: 20px;
    }
    .news-box{
        text-align: center;
        margin-top: 20px;
    }
    .skill{
        flex-direction: column;
        margin-top: 20px;
    }
    .skill-img img{
        width: 100%;
    }
    .skill-text{
        margin-left: 0px;
        padding: 5px;
    }
    .mybest{
        text-align: center;
    }
    .option{
        flex-direction: column;
        margin-top: 20px;

    }
    .option-section{
        grid-template-columns: repeat(2, 1fr);
    }
    .client{
        flex-direction: column;
    }
    .client-logo{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .skill1{
        flex-direction: column;
    }
    .blog{
        text-align: center;
    }
    .image-grid{
        grid-template-columns: repeat(1, 1fr);
    }
    .img-grid2{
        grid-template-columns: repeat(1, 1fr);
    }
    .caption{
        display: none;
        margin-top: 20px;
    }
    .mobile-captipa{
        display: block;
    }
    .image-grid{
        text-align: center;
    }
    .img3{
        margin-top: 0px;
    }
    .contact{
        flex-direction: column;
    }
    .contact-icon-box{
        flex-direction: column;
        margin-right: 0px;

    }
    .client-img{
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    

}